= form_for message, :html => { class: "form-horizontal", id: "feedback_form", remoteL: true } do |f|
  = f.text_field :name, class: "form-control", placeholder: "Имя"
  = f.text_field :email, class: "form-control", placeholder: "E-mail/телефон"
  = f.text_area :text, class: "form-control", placeholder: "Отзыв", rows: "10"
  = f.submit 'Отправить', class: "btn-default dark", "data-disable-with" => "Отправляю..."
