#feedback_success.modal.fade aria-hidden="false" role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      .modal-header
        h3 PrettyPeople
      .modal-body
        .block-product-detail
          .row
            section
              .block2
                .col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
                  .block-form.box-border.wow.fadeInLeft.animated data-wow-duration="1s"
                    h3
                      | Спасибо, уже читаем!
                    p
                      | Нам важно Ваше мнение. Пишите нам!
                    hr
                    =< link_to "На главную", root_path, class: "btn-default"
                    hr
