<% if user_signed_in?%>
  window.location.href='<%= root_path %>'
<% else %>
  $('#login_popup input').parent().addClass('inputbox_error');
  $('input').keydown(function(){
    $(this).parent().removeClass('inputbox_error')
  })
<% end %>
