#items_go_here.top-icon-block
  .header-mini-cart.dark.pull-right
    = link_to cart_path, class: "mini-card-icon", "data-toggle" => "dropdown", title: "Корзина" do
      i.ion-ios-cart
      - if current_order.line_items.count > 0
        span
          = current_order.line_items.count
    .dropdown-menu.shopping-cart-content.pull-right.fadeIn-Up.animatedMini
      .shopping-cart-items
        - if current_order.line_items.count > 0
          - current_order.line_items.each do |item|
            .item.pull-left
              = image_tag item.product.image.url(:cart_thumb), class: "pull-left"
              .pull-left
                p
                  = truncate item.product.title, length: 40
                p
                  = price_format item.product.price
                  =< "грн."
          .total.pull-right
            = link_to 'Корзина', cart_path, class: "read-more pull-right"
        - else
          |Корзина пуста
