tr.line_item data-price="#{f.object.product.price}"
  td.card_product_image
    = link_to f.object.product do
      = image_tag f.object.product.image.url, title: "#{f.object.product.title}"

  td.card_product_name
    = link_to f.object.product do
      = f.object.product.title

  td.card_product_model
    = f.object.product.article
  td.card_product_quantity
    = f.text_field :quantity, class: 'styler line-item-quantity', style: 'color: #000'

    a.count-increase
      i.fa.fa-caret-up
    a.count-decrease
      i.fa.fa-caret-down

  td.card_product_price
    span.price
      = f.object.product.price
    =< "грн."
  td.card_product_total
    span.line-item-total
      = f.object.total
    =< "грн."
  td
    = f.check_box :_destroy



