= form_for order, url: cart_path, method: :patch, html: { id: 'order_form', remote: true } do |f|
  section
    .top-header-m-bg.light
    .second-page-header.bg-light
      .container
        .row
          .col-md-12
            h1 Корзина
            ul.breadcrumb
              li
                = link_to "Главная", root_path
              li
                = link_to "Каталог", products_path
              li.active Корзина
  section
    .block2
      .container

        - if f.object.line_items.blank?
          .row
            .col-md-12
              .text-center
                h4
                  | Вы еще не добавили ни одного товара в корзину
        - else
          .row
            .col-md-12
              table.cart-table.table.wow.fadeInLeft data-wow-duration="1s"
                thead
                  tr
                    th.card_product_image Картинка
                    th.card_product_name Название
                    th.card_product_model Артикул
                    th.card_product_quantity Количество
                    th.card_product_price Цена
                    th.card_product_total Всего
                    th.card_product_total
                      i.fa.fa-trash-o
                tbody
                  - f.object.line_items.each_with_index do |line_item, i|
                    = f.fields_for :line_items, line_item do |lf|
                      = render partial: "cart/fields", locals: { f: lf, i: i + 1 }
                  tr
                    td colspan="7"
                      = f.submit "Удалить", class: "pull-right", style: "color: #000", name: "update", disable_with: "Удалить"
          .row
            .col-xs-12.col-sm-6.col-md-4.col-lg-4
              .row
                article.col-xs-12.col-sm-12.col-md-12.col-lg-12
                  .block-form.box-border.wow.fadeInLeft data-wow-duration="1s"
                    h3
                      i.fa.fa-truck
                      | Доставка
                    hr
                    form action="#" method="post"
                      .row
                        .col-md-12
                          label Доставка
                          select.form-control id="order_delivery" name="order[delivery]"
                            option selected="selected" Выберите вариант
                            option value="Самовывоз"
                              |Самовывоз
                            option value="По Киеву"
                              |По Киеву (50 грн.)
                            option value="Новая почта"
                              |Новая почта
                            option value="Интайм"
                              |Интайм

                        .col-md-12
                          label Город доставки
                          = f.text_field :city, class: "form-control"

                        .col-md-12
                          label Адрес отделения
                          = f.text_field :department, class: "form-control"

                        .col-md-12
                          label Контактный телефон
                          = f.text_field :phone, class: "form-control"

            .col-xs-12.col-sm-6.col-md-6.col-lg-6
              .row
                article.col-xs-12.col-sm-12.col-md-12.col-lg-12
                  .block-form.block-order-total.box-border.wow.fadeInRight data-wow-duration="1s"
                    h3
                      i.fa.fa-dollar
                      | Всего к оплате
                    hr
                    ul.list-unstyled
                      li
                        | Всего:
                        strong
                          span.total
                            = price_format f.object.total
                          =< "грн."
                      li
                        hr

                    = link_to "Продолжить покупки", products_path, class: "btn-default"
                    - if f.object.line_items.count > 0
                      =< f.submit "Оформить", class: "btn-default", name: "checkout",  disable_with: "Оформляю"

  coffee:
    window.orderForm = new OrderForm($("#order_form"))
