(function() {
  $('#items_go_here').html('<%=j render partial: "cart_filling", locals: { current_order: current_order }  %>');
  $('#cart').html('<%=j render partial: "form", locals: { order: @order } %>');
}());
