$(document).ready(function(){
  if ($('#map').length === 0) {
    return;
  };

  var mapOptions = {
    scrollwheel: false,
    zoom: 11,
    center: new google.maps.LatLng(50.4234763,30.5680528),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  var map = new google.maps.Map(document.getElementById('map'), mapOptions);

  setMarkers(map);

  function setMarkers(map) {
    var iconImage = {
      url: "<%= image_path 'contacts/pin.png' %>",
      anchor: new google.maps.Point(44,126)
    };
    var marker = new google.maps.Marker({
        position: new google.maps.LatLng(50.4234763,30.5680528),
        map: map,
        icon: iconImage
      });
};
});
