section
  .top-header-bg.light
  .second-page-header.bg-light.center
    .container
      .row
        .col-md-12
          h1 Аккаунт
          ul.breadcrumb
            li
              = link_to "Главная", root_path
            li.active Настройки аккаунта
section
  .block2
    .container
      .row
        .col-md-6.col-sm-6
          .block-form.box-border.wow.fadeInLeft.animated data-wow-duration="1s"
            h3
              i.fa.fa-info
              | Информация

            = form_for current_user, :html => {id: "edit_user_form", remote: true} do |f|
              .row
                .col-md-6
                  = f.text_field :name, placeholder: "Имя", class: "form-control"
                .col-md-6
                  = f.text_field :surname, placeholder: "Фамилия", class: "form-control"
                .col-md-12
                  = f.text_field :email, placeholder: "Email", class: "form-control"
                .col-md-12
                  hr
                  = f.submit "Сохранить", class: "btn-default"

        - unless current_user.encrypted_password.blank?
          .col-md-6.col-sm-6
            .block-form.box-border.wow.fadeInRight.animated data-wow-duration="1s"
              h3
                i.fa.fa-unlock-alt
                | Изменения пароля
              = form_for current_user, :html => {id: "edit_password_form", remote: true} do |f|
                .row
                  .col-md-6
                    = f.password_field :password, placeholder: "Новый пароль", class: "form-control"
                  .col-md-6
                    = f.password_field :password_confirmation, placeholder: "Повторите пароль", class: "form-control"
                  .col-md-12
                    = f.password_field :current_password, placeholder: "Текущий пароль", class: "form-control"
                  .col-md-12
                    hr
                    = f.submit "Изменить пароль", class: "btn-default"





