section
  .top-header-m-bg.light
  .second-page-header.bg-light
    .container
      .row
        .col-md-12
          h1 Избранное
          ul.breadcrumb
            li
              = link_to "Главная", root_path
            li.active Избранное
section
  .block2
    .container
      .row
        .col-md-12
          - if @favorites.blank?
            .text-center
              h4
                | Вы еще не добавили ни одного товара в избранное
          - else
            table.cart-table.table.wow.fadeInLeft data-wow-duration="1s"
              thead
                tr
                  th.card_product_image Картинка
                  th.card_product_name Название
                  th.card_product_model Артикул
                  th.card_product_quantity Описание
                  th.card_product_price Цена
                  th.card_product_total
              tbody
                - @favorites.each do |favorite|
                  tr
                    td.card_product_image data-th="Image"
                      = link_to favorite.product
                        = image_tag favorite.product.image.url, title: "#{favorite.product.title}"

                    td.card_product_name data-th="Product Name"
                      = link_to favorite.product.title, favorite.product unless favorite.product.title.blank?
                      br
                      small
                        = favorite.product.category.title unless favorite.product.category.blank?

                    td.card_product_model data-th="Model"
                      = favorite.product.article unless favorite.product.article.blank?

                    td.card_product_quantity data-th="Quantity"
                      small
                        = truncate favorite.product.description, length: 130 unless favorite.product.description.blank?

                    td.card_product_price data-th="Unit Price"
                      - unless favorite.product.price.blank?
                        span
                          = price_format favorite.product.price
                          =< "грн."
                    td.card_product_total data-th="Add to Cart"
                      = link_to "<i class='ion-ios-cart-outline'></i>".html_safe, add_in_cart_path(favorite.product.id), method: :post, remote: true, class: 'btn-default', title: "В корзину"

