nav#catalog-menu.catalog
  .panel.list-group
    = link_to products_path, class: "list-group-item active" do
      i.ion-ios-list-outline
      | Каталог
      span.badge
        = @product_count

    - @home_categories.each do |category|
      = link_to category, class: "list-group-item" do
        = category.title
        span.badge
          = category.products.count
