.widget-block
  #accordion.panel-group
    - @faq.each_with_index do |question, i|
      .panel.panel-default
        .panel-heading
          h4.panel-title
            a.collapsed data-parent="#accordion" data-toggle="collapse" href="#collapse_#{i}"
              = question.title
        .panel-collapse.collapse id="collapse_#{i}"
          .panel-body
            = question.answer
