
.alert.alert-success.alert-dismissable style="display:none" id="favorites-success"
  button.close data-dismiss="alert" aria-hidden="true" &times;
  | Продукт добавлен в избранное.


.alert.alert-warning.alert-dismissable style="display:none" id="favorites-success-remove"
  button.close data-dismiss="alert" aria-hidden="true" &times;
  | Продукт удален из избранного.


.alert.alert-success.alert-dismissable style="display:none" id="settings-success"
  button.close data-dismiss="alert" aria-hidden="true" &times;
  | Изменения сохранены

.alert.alert-warning.alert-dismissable style="display:none" id="settings-error"
  .button.close data-dismiss="alert" aria-hidden="true" &times;
  |Ошибка сохранения. Проверьте правильность ввода данных
