#login.modal.fade aria-hidden="true" role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      .modal-header
        button.close aria-hidden="true" data-dismiss="modal" type="button"  ×
        h3 PrettyPeople
      .modal-body
        .block-product-detail
          .row
            section
              .block2
                .col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
                  .block-form.box-border.wow.fadeInLeft.animated data-wow-duration="1s"
                    h3
                      i.fa.fa-unlock
                      | Вход
                    = form_tag user_session_path, remote: true
                      .row
                        .col-md-6
                          = text_field_tag "user[email]", "", class: "form-control", placeholder: "Email"
                        .col-md-6
                          = password_field_tag "user[password]", "", class: "form-control", placeholder: "Пароль"
                        .col-md-12
                          = submit_tag "Войти", class: "btn-default"
                          |&nbsp;
                          |&nbsp;
                          a.read-more style="cursor:pointer" id="reset_password_button_alt" Забыли пароль?
                    hr
                    p Войти с помощью
                    = link_to "<i class='flaticon-vk'></i> &nbsp;&nbsp;Вконтакте".html_safe, user_omniauth_authorize_path(:vkontakte), class: "btn-default"
                    =< link_to "<i class='fa fa-facebook'></i> &nbsp;&nbsp;Facebook".html_safe, user_omniauth_authorize_path(:facebook), class: "btn-default"
                    hr

