- if params[:user] && params[:set_password] == "true"
  - if User.find(params[:user]).confirmed? && User.find(params[:user]).password.blank?
    - user = User.find(params[:user])
    #new_password.modal.fade.in aria-hidden="false" role="dialog" tabindex="-1" style="display:block"
      .modal-dialog
        .modal-content
          .modal-header
            button.close aria-hidden="true" data-dismiss="modal" type="button"  ×
            h3 PrettyPeople
          .modal-body
            .block-product-detail
              .row
                section
                  .block2
                    .col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
                      .block-form.box-border.wow.fadeInLeft.animated data-wow-duration="1s"
                        h3
                          i.fa.fa-unlock
                          | Создание пароля
                        #error_messages style="display:none"
                          h5 style="color:#d05165"
                            | Ошибка. Проверьте правильность ввода.
                            br
                            | Пароль должен быть не меньше 8 символов.
                        hr
                        = form_for user, :remote => true, :url => set_password_user_path(User.find(params[:user])) do |f|
                          .row
                            .col-md-12
                              = f.text_field :name, class: "form-control", placeholder: "Ваше имя"
                            hr
                            .col-md-12
                              = f.password_field :password, class: "form-control", placeholder: "Введите пароль (не меньше 8 символов)", :autocomplete => :off
                            .col-md-12
                              = f.password_field :password_confirmation, class: "form-control", placeholder: "Повторите пароль"
                            .col-md-12
                              = submit_tag "Войти", class: "btn-default"
    .modal-backdrop.fade.in

- if params[:reset_password_token]
  - if @user
    #new_password_reset.modal.fade.in aria-hidden="false" role="dialog" tabindex="-1" style="display:block"
      .modal-dialog
        .modal-content
          .modal-header
            button.close aria-hidden="true" data-dismiss="modal" type="button"  ×
            h3 PrettyPeople
          .modal-body
            .block-product-detail
              .row
                section
                  .block2
                    .col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
                      .block-form.box-border.wow.fadeInLeft.animated data-wow-duration="1s"
                        h3
                          i.fa.fa-unlock
                          | Сброс пароля
                        #error_messages style="display:none"
                          h5 style="color:#d05165"
                            | Ошибка. Проверьте правильность ввода.
                            br
                            | Пароль должен быть не меньше 8 символов.
                        hr
                        = form_for @user, remote: true, url: set_password_user_path(@user) do |f|
                          .row
                            .col-md-12
                              = f.password_field :password, class: "form-control", placeholder: "Введите новый пароль (не меньше 8 символов)", autocomplete: :off
                            hr
                            .col-md-12
                              = f.password_field :password_confirmation, class: "form-control", placeholder: "Введите повторно"
                            .col-md-12
                              = submit_tag "Войти", class: "btn-default"
    .modal-backdrop.fade.in
