- if current_user
  #order_status.modal.fade.in aria-hidden="false" role="dialog" tabindex="-1" style="display:block"
    .modal-dialog
      .modal-content
        .modal-header
          button.close aria-hidden="true" data-dismiss="modal" type="button"  ×
          h3 PrettyPeople
        .modal-body
          .block-product-detail
            .row
              section
                .block2
                  .col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
                    .block-form.box-border.wow.fadeInLeft.animated data-wow-duration="1s"
                      h3
                        i.fa.fa-credit-card
                        | Статус заказа
                      p
                        = "Ваш заказ"
                        strong
                          =< "№"
                          = @order.id
                        =< "успешно оформлен!"
                      p
                        |Вы можете оплатить заказ, удобным для Вас способом:
                      = link_to "Оплатить курьеру", root_path, class: "btn-default"
                      = liqpay_button @liqpay_request do
                        = link_to "Оплатить картой", '#', :onclick => "document.getElementById('liqpay_form').submit();", :class => "btn-default"
                      hr
                      p style="font-size:12px"
                        'Оплата картой производится через банковскую систему безопасных платежей
                        a href="https://www.liqpay.com" target="_blank"
                          strong
                            | LiqPay.
                        | &nbsp; Вы не предоставляете третьим лицам персональные данные, банковские реквизиты и номер кредитной или дебитской карты.
  .modal-backdrop.fade.in
