- if current_user
  #order_payment.modal.fade.in aria-hidden="false" role="dialog" tabindex="-1" style="display:block"
    .modal-dialog
      .modal-content
        .modal-header
          button.close aria-hidden="true" data-dismiss="modal" type="button"  ×
          h3 PrettyPeople
        .modal-body
          .block-product-detail
            .row
              section
                .block2
                  .col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
                    .block-form.box-border.wow.fadeInLeft.animated data-wow-duration="1s"
                      h3
                        i.fa.fa-credit-card
                        | Оплата заказа
                      p
                        = "Мы получили оплату за заказ"
                        strong
                          =< "№"
                          = @order.id
                        =<"и скоро свяжемся с Вами для уточнения деталей."
                      p
                      = link_to "Ок", root_path, class: "btn-default"

                      hr
  .modal-backdrop.fade.in
