#phonecall_modal.modal.fade.in aria-hidden="false" role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      .modal-header
        button.close aria-hidden="true" data-dismiss="modal" type="button"  ×
        h3 PrettyPeople
      .modal-body
        .block-product-detail
          .row
            section
              .block2
                .col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
                  .block-form.box-border.wow.fadeInLeft.animated data-wow-duration="1s"
                    h3
                      i.fa.fa-phone
                      | Обратный звонок
                    #error_messages style="display:none"
                      h5 style="color:#d05165"
                        | Ошибка. Проверьте правильность ввода.
                    hr
                    = form_for Phonecall.new, html: { id: "phonecall_form", :remote => true } do |f|
                      .row
                        .col-md-12
                          = f.text_field :phone, class: "form-control", placeholder: "Ваш номер телефона"
                        hr

                        .col-md-12
                          = submit_tag "Отправить", class: "btn-default"
.modal-backdrop.fade.in
