- unless @promo_post.blank?
  section
    .block-blog.item1 style="background-image: url('#{image_path @promo_post.image}')"
      .blog-item-container.block
        .container
          .row
            .col-md-6.col-sm-6
            .col-md-6.col-sm-6
              article.blog-item
                .product-title
                  = @promo_post.title
                p
                  = @promo_post.description
                = link_to "Подробнее", @promo_post, class: "read-more"
                .blog-item-date
                  p.month style="font-size:12px !important"
                    =l @promo_post.created_at.to_date, format: :month_only
                  p.day
                    =l @promo_post.created_at.to_date, format: :date_only
