#registration.modal.fade aria-hidden="true" role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      .modal-header
        button.close aria-hidden="true" data-dismiss="modal" type="button"  ×
        h3 PrettyPeople
      .modal-body
        .block-product-detail
          .row
            section
              .block2
                .col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
                  .block-form.box-border.wow.fadeInLeft.animated data-wow-duration="1s"
                    h3
                      i.fa.fa-unlock
                      | Новый аккаунт
                    #error_creation_messages style="display:none"
                      h5 style="color:#d05165"
                        | Ошибка. Проверьте правильность ввода.
                        br
                        | Возможно такой email уже зарегистрирован в системе.
                    p Создать новый аккаунт с помощью

                    = link_to "<i class='flaticon-vk'></i> &nbsp;&nbsp;Вконтакте".html_safe, user_omniauth_authorize_path(:vkontakte), :class => "btn-default"
                    =< link_to "<i class='fa fa-facebook'></i> &nbsp;&nbsp;Facebook".html_safe, user_omniauth_authorize_path(:facebook), :class => "btn-default"

                    hr
                    p Регистрация через e-mail
                    = form_for User.new, :html => {:autocomplete => "off"}, :remote => true do |f|
                      .row
                        .col-md-12
                          = f.text_field :email, class: "form-control", placeholder: "E-mail"
                        .col-md-12
                          = f.submit "Зарегистрироваться", class: "btn-default"

