#send_mail.modal.fade aria-hidden="true" role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      .modal-header
        button.close aria-hidden="true" data-dismiss="modal" type="button"  ×
        h3 PrettyPeople
      .modal-body
        .block-product-detail
          .row
            section
              .block2
                .col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
                  .block-form.box-border.wow.fadeInLeft.animated data-wow-duration="1s"
                    h3
                      i.fa.fa-unlock
                      | Активация
                    p
                      |Мы отправили письмо с инструкциями на указанный электронный адрес.
                    = link_to "Ок", root_path, class: "btn-default"
                    hr

#send_mail_reset.modal.fade aria-hidden="true" role="dialog" tabindex="-1"
  .modal-dialog
    .modal-content
      .modal-header
        button.close aria-hidden="true" data-dismiss="modal" type="button"  ×
        h3 PrettyPeople
      .modal-body
        .block-product-detail
          .row
            section
              .block2
                .col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
                  .block-form.box-border.wow.fadeInLeft.animated data-wow-duration="1s"
                    h3
                      i.fa.fa-unlock
                      | Сброс пароля
                    p
                      |Мы отправили письмо с инструкциями по сбросу пароля на указанный электронный адрес.
                    = link_to "Ок", root_path, class: "btn-default"
                    hr
