.no-margin.row
  .col-md-8.col-sm-12.col-xs-12.no-pad
    #owl-block-slider.owl-carousel
      - @small_slides.each do |slide|
        .text-center
          .banner
            a href="#{slide.url}"
              span.banner-title
                = slide.title
              = image_tag slide.image.url, class: "img-responsive", alt: "#{slide.title}"

  .col-md-4.col-sm-12.no-pad
    .banner

      a href="#{@first_banner.url}"
        span.banner-title
          = @first_banner.title
        = image_tag @first_banner.image.url(:right), class: "img-responsive", alt: "#{@first_banner.title}"
div
  .banner
    a href="#{@second_banner.url}"
      span.banner-title
        = @second_banner.title
      = image_tag @second_banner.image.url(:top), class: "img-responsive", alt: "#{@second_banner.title}"
