.block2
  .header-for-light.clearfix
    h2 Бестселлеры
    #nav-toprated.toolbar-for-light
      a.prev data-role="prev" href="javascript:;"
        i.fa.fa-angle-left
      a.next data-role="next" href="javascript:;"
        i.fa.fa-angle-right
  .row
    #owl-toprated.owl-carousel
      - @bestsellers.each do |product|
        .text-center.item
          article.product
            figure.figure-hover-overlay
              = link_to product, class: "figure-href" do
              - if product.published != false
                - unless product.badge.blank?
                  .product-new
                    = product.badge

                - unless product.discount_badge.blank?
                  .product-sale
                    = product.discount_badge

              - if current_user
                - if Favorite.find_by(:user => current_user, :product => product).blank?
                  = link_to favorites_path(:product_id => product.id), :method => "POST", remote: true, class: "product-compare", title: "В избранное"
                    i.ion-ios-heart-outline
                - else
                  = link_to Favorite.find_by(:user => current_user, :product => product), method: "DELETE", remote: true, class: "product-compare favorite", title: "Удалить из избранного"
                    i.ion-ios-heart-outline

              - if product.published != false
                - if current_user
                  = link_to add_in_cart_path(product.id), method: :post, remote: true, class: 'product-cart', title: "В корзину" do
                    i.ion-ios-cart-outline
                - else
                  a href="" class="product-cart" data-toggle="modal" data-target="#login_alt"
                    i.ion-ios-cart-outline

              = link_to product, class: "quick-view" do
                i.ion-ios-eye-outline

              = image_tag product.image.url(:home), class: "img-responsive img-overlay", alt: "#{product.title}"
              = image_tag product.image.url(:home), class: "img-responsive", alt: "#{product.title}"

            .product-caption
              .block-name
                = link_to product, class: "product-name" do
                  = product.title
                = product.category.title unless product.category.blank?

                - if product.published != false
                  p.product-price
                    - unless product.old_price.blank?
                      span
                        = price_format product.old_price
                        =< "грн."
                      |&nbsp;
                    = price_format product.price
                    =< "грн."
                - else
                  p.product-price
                    = "Нет в наличии"


