article.product
  figure.figure-hover-overlay
    = link_to @promo_product, class: "figure-href" do
    - unless @promo_product.badge.blank?
      .product-new
        = @promo_product.badge

    - unless @promo_product.discount_badge.blank?
      .product-sale
        = @promo_product.discount_badge

    - if current_user
      - if Favorite.find_by(:user => current_user, :product => @promo_product).blank?
        = link_to favorites_path(:product_id => @promo_product.id), :method => "POST", remote: true, class: "product-compare", title: "В избранное"
          i.ion-ios-heart-outline
      - else
        = link_to Favorite.find_by(:user => current_user, :product => @promo_product), method: "DELETE", remote: true, class: "product-compare favorite", title: "Удалить из избранного"
          i.ion-ios-heart-outline

    - if current_user
      = link_to add_in_cart_path(@promo_product.id), method: :post, remote: true, class: 'product-cart', title: "В корзину" do
        i.ion-ios-cart-outline
    - else
      a href="" class="product-cart" data-toggle="modal" data-target="#login_alt"
        i.ion-ios-cart-outline

    = link_to @promo_product, class: "quick-view" do
      i.ion-ios-eye-outline

    = image_tag @promo_product.image.url(:home), class: "img-responsive", alt: "#{@promo_product.title}"
  .product-caption
    .product-sale-time.clearfix
      p.time id="time-data" data-cdate="#{@promo_product.promo_date.strftime('%B %d, %Y %H:%M:00')}"
    .block-name
      = link_to @promo_product, class: "product-name" do
        = @promo_product.title
      = @promo_product.category.title unless @promo_product.category.blank?
      p.product-price
        - unless @promo_product.old_price.blank?
          span
            = price_format @promo_product.old_price
            =< "грн."
          |&nbsp;
        = price_format @promo_product.price
        =< "грн."
