section
  .tp-banner-container
    .tp-banner
      ul.list-unstyled
        - @slides.each do |slide|
          - if slide.style == "1"
            li data-delay="6000" data-slotamount="7" data-transition="fade"

              = image_tag slide.image.url, alt: "#{slide.title}", "data-bgposition" => "center center", "data-kenburns" => "on", "data-duration" => "12000", "data-ease" => "Power0.easeInOut", "data-bgfit" => "100", "data-bgfitend" => "120", "data-bgpositionend" => "center center"

              .tp-caption.black_thin_34.sft.skewtobottom.text-center.rs-parallaxlevel-1 data-easing="Back.easeOut" data-endeasing="Power1.easeIn" data-endspeed="400" data-speed="1000" data-start="800" data-x="260" data-y="460"
                = slide.subtitle

              .tp-caption.active_heavy_100.sfb.skewtobottom.text-center.rs-parallaxlevel-1 data-easing="Back.easeOut" data-endeasing="Power1.easeIn" data-endspeed="400" data-speed="1000" data-start="1000" data-x="180" data-y="520"
                a href="#{slide.url}"
                  = slide.title
          - else
            li data-delay="6000" data-slotamount="7" data-transition="fade"

              = image_tag slide.image.url, alt: "#{slide.title}", "data-bgposition" => "center center", "data-kenburns" => "on", "data-duration" => "12000", "data-ease" => "Power0.easeInOut", "data-bgfit" => "120", "data-bgfitend" => "100", "data-bgpositionend" => "center center"

              .tp-caption.black_thin_34.sft.skewtobottom.text-center.rs-parallaxlevel-1 data-easing="Back.easeOut" data-endeasing="Power1.easeIn" data-endspeed="400" data-speed="1000" data-start="600" data-x="right" data-y="450"
                = slide.subtitle

              .tp-caption.active_heavy_100.sfb.skewtobottom.text-center.rs-parallaxlevel-1 data-easing="Back.easeOut" data-endeasing="Power1.easeIn" data-endspeed="400" data-speed="1000" data-start="1000" data-x="right" data-y="520"
                a href="#{slide.url}"
                  = slide.title

