.col-md-6
  .header-for-light.clearfix
    h2 Топ продаж
    #nav-small-product-2.toolbar-for-light
      a.prev data-role="prev" href="javascript:;"
        i.fa.fa-angle-left
      a.next data-role="next" href="javascript:;"
        i.fa.fa-angle-right
  .row
    #owl-small-product-2.owl-carousel
      - @bestsellers.each_slice(3) do |slice|
        .text-center.item
          - slice.each do |product|
            article.product.list
              .row.no-margin
                .col-xs-12.col-sm-4.col-md-5.col-lg-4.text-center.no-pad
                  figure.figure-hover-overlay
                    = link_to product, class: "figure-href" do
                    = image_tag product.image.url(:home), class: "img-responsive img-overlay", alt: "#{product.title}"
                    = image_tag product.image.url(:home), class: "img-responsive", alt: "#{product.title}"
                .col-xs-12.col-sm-8.col-md-7.col-lg-8.text-center.no-pad
                  .product-caption
                    .block-name
                      = link_to product, :class => "product-name" do
                        = product.title
                      = product.category.title unless product.category.blank?
                      p.product-price
                        - unless product.old_price.blank?
                          span
                            = price_format product.old_price
                            =< "грн."
                          |&nbsp;
                        = price_format product.price
                        =< "грн."

