= render "home/slider"

section
  .home-block
    .container
      .row
        .col-md-3.col-sm-4
          = render "shared/categories"
          - unless @random_category.blank?
            = render "shared/random_category"
          - unless @promo_product.blank?
            = render "shared/promo_product"
          - unless @faq.blank?
            = render "shared/faq"

        .col-md-9.col-sm-8
          = render "home/banners"
          = render "home/bestsellers"
          = render "home/banner_middle"

          .block2
            .row
              = render "home/new_arrivals"
              = render "home/top_rated"

= render "shared/promo_post"
