section
  .top-header-m-bg.light
  .second-page-header.bg-light
    .container
      .row
        .col-md-12
          h1 История заказов
          ul.breadcrumb
            li
              = link_to "Главная", root_path
            li.active История заказов
section
  .block2
    .container
      .row
        article.col-xs-12.col-sm-12.col-md-8.col-lg-8
          .box-border.wow.fadeInLeft data-wow-duration="1s"
            h3
              i.fa.fa-tasks
              =< "История"
            hr
            .table-responsive
              table.table.table-hover
                thead
                  tr
                    th
                      | №
                    th
                      | Дата
                    th
                      | К-во
                    th
                      | Всего
                    th
                      | Статус
                    th
                      | &nbsp;
                tbody
                  - @orders.each do |order|
                    - unless order.line_items.blank?
                      tr
                        td
                          = order.id
                        td
                          = order.ordered_at.strftime("%d.%m.%Y") unless order.ordered_at.blank?
                        td
                          = order.line_items.count
                        td
                          = order.total
                          =< "грн."
                        td
                          - if order.ordered_at.blank?
                            span.label.new Новый
                          - else
                            span.label Оформлен
                        td.text-right
                          - if order.ordered_at.blank?
                            = link_to cart_path, class: "btn btn-mini" do
                              | Оформить &nbsp;
                              i.fa.fa-angle-right

        article.col-xs-12.col-sm-12.col-md-4.col-lg-4
          .block-order-total.box-border.wow.fadeInRight data-wow-duration="1s"
            h3
              i.fa.fa-bar-chart
              =< "Статистика"
            hr
            ul.list-unstyled
              li
                | Зарегистрирован:
                strong
                  = current_user.created_at.strftime("%d.%m.%Y")
              li
                | Заказов:
                strong
                  = @orders.total_completed.count
              li
                | Продуктов:
                strong
                  = @line_items_count
              li.color-active
                | Всего оплачено:
                strong
                  = @complete_orders.to_a.sum(&:total)
                  =< "грн."

