= form_for message, :html => { :id => "contact_form" } do |f|
  .row
    .col-md-6
      .form-group
        label.control-label
          | Имя:
          span.text-error *
        div
          = f.text_field :name, class: "form-control"
    .col-md-6
      .form-group
        label.control-label
          | Email:
          span.text-error *
        div
          = f.text_field :email, class: "form-control"
    .col-md-12
      .form-group
        label.control-label
          | Текст:
          span.text-error *
        div
          = f.text_area :text, class: "form-control", rows: "4"

  = f.submit "Отправить", class: "btn-default contact-btn", "data-disable-with" => "Отправляю..."

