section
  .top-header-bg.light
  .second-page-header.bg-light.center
    .container
      .row
        .col-md-12
          h1 О нас
          ul.breadcrumb
            li
              = link_to "Главная", root_path
            li.active О нас


section
  .block2
    .container
      .row
        .col-md-8.col-sm-8.col-md-offset-2
          .article-body
            = Content.find_by(title:"about").text.try(:html_safe)


