script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"
section
  .top-header-bg.light
  .second-page-header.bg-light.center
    .container
      .row
        .col-md-12
          h1 Добро пожаловать
          ul.breadcrumb
            li
              = link_to "Главная", root_path
            li.active Контакты
section
  .google-map
    google-map-frame
      #map style= "position: relative; width: 100%; height: 100%; z-index: 1;"

section
  .block2
    .container
      .row
        .col-md-6.col-sm-6
          .block-form.box-border.wow.fadeInLeft.animated data-wow-duration="1s"
            .titelize
              i.fa.fa-envelope-o
              | Написать сообщение

            #form-wrapper
              #form-inner
                = render partial: "static/contacts_form", locals: {message: Message.new}
                = render partial: "messages/thanks"

        .col-md-6.col-sm-6
          .block-form.box-border.wow.fadeInRight.animated data-wow-duration="1s"
            .titelize
              i.fa.fa-thumb-tack
              | Адрес
            p
              | Киев, ул. Анри Барбюса, 22/26.
              br
              | 09:00–20:00 ежедневно.
            hr
            .titelize
              i.fa.fa-phone
              | Контактные телефоны
            p
              | +38 (044) 565-15-37
              br
              | +38 (063) 922 74 73
              br
              a href="" data-toggle="modal" data-target="#phonecall_modal"
                | Обратный звонок
            hr
            .titelize
              i.fa.fa-envelope-o
              | E-mail
            p
              | neonilla.xlash@gmail.com
              br

