section
  .top-header-m-bg.light
  .second-page-header.bg-light
    .container
      .row
        .col-md-12
          h1 Что говорят наши клиенты
          ul.breadcrumb
            li
              = link_to "Главная", root_path
            li.active Отзывы

section
  .color-scheme-2.block2
    .container
      .item
        - @home_feedbacks.each_slice(2) do |slice|
          .row
            - slice.each do |feed|
              .col-md-6.col-sm-6
                .block-client-say
                  i.ion-android-hangout style="color:#B0B0B0"
                  .client-say-container
                    h4
                      = feed.name
                    p style="font-style: italic; color:#767676"
                      = feed.text
