section
  .top-header-bg.light
  .second-page-header.bg-light.center
    .container
      .row
        .col-md-12
          h1 Упс
          ul.breadcrumb
            li
              = link_to "Главная", root_path
            li
            li.active 500
section
  .block2
    .container
      .row
        .col-md-6.col-sm-8.col-md-offset-3.col-sm-offset-2
          .block-form.box-border.wow.fadeInUp.animated data-wow-duration="1s"
            h3
              i.fa.fa-file-excel-o
              | 500
            p Внутренняя ошибка сервера. Пожалуйста попробуйте позже.
            hr
            = link_to "Вернуться на главную", root_path, class: "read-more"
