p
'Поступил новый заказ.
br
'№#{@order.id}
br
= @order.user.name
br
'Сумма №#{@order.total} грн
=< "грн."
br
'Дата заказа: #{@order.ordered_at}
br
- if @order.phone
  'Email/телефон: #{@order.phone}
- else
  'Email/телефон: #{@order.user.email}
br
'Доставка: #{@order.delivery}
br
'Город: #{@order.city}
br
'Адрес: #{@order.department}
br
br
a href="http://pretty-people.com.ua/admin" target="_blank"
   | Перейти в админку
