section
  .top-header-bg.light
  .second-page-header.bg-light
    .container
      .row
        .col-md-12
          h1 Новости
          ul.breadcrumb
            li
              = link_to "Главная", root_path
            li
            li.active Новости

section
  .home-block
    .container
      .row
        .col-md-9.col-sm-8
          - @posts.each_slice(2) do |slice|
            .row
              - slice.each do |post|
                .col-md-6
                  .post-blog
                    .post-blog-img
                      .post-date
                        span.day
                          =l post.created_at.to_date, format: :date_only
                        span.month
                          =l post.created_at.to_date, format: :month_only
                      = link_to post
                        = image_tag post.image.url(:index), class: "img-responsive", alt: "#{post.title}"
                    = link_to post.title, post, class: "post-title"
                    p
                      = post.description
                    = link_to "Читать", post, class: "btn-default"

        .col-md-3.col-sm-4
          - unless @random_category.blank?
            = render 'shared/random_category'
          - unless @promo_product.blank?
            = render 'shared/promo_product'


= render "shared/promo_post"
