section
  .top-header-bg.light
  .second-page-header.bg-light
    .container
      .row
        .col-md-12
          .post-title
            = @post.title
          ul.breadcrumb
            li
              = link_to "Главная", root_path
            li
              = link_to "Новости", posts_path
            li.active
              = truncate @post.title, length: 20
section
  .home-block
    .container
      .row
        .col-md-9.col-sm-8
          .block-blog
            = image_tag @post.image.url, class: "img-responsive br3", alt: "#{@post.title}"

            br
            .article-body
              = @post.text.try(:html_safe)

            - unless @other_posts.blank?
              .block2
                .header-for-light
                  .titelize Другие новости
              .row
                - @other_posts.each do |post|
                  .col-md-4
                    .post-blog
                      .post-blog-img
                        .post-date
                          span.day
                            =l post.created_at.to_date, format: :date_only
                          span.month
                            =l post.created_at.to_date, format: :month_only
                        = link_to post
                          = image_tag post.image.url(:index), class: "img-responsive", alt: "#{post.title}"
                      = link_to post.title, post, class: "post-title"
                      p
                        = post.description
                      = link_to "Читать", post, class: "btn-default"

        .col-md-3.col-sm-4
          = render "shared/categories"

          - unless @random_category.blank?
            = render 'shared/random_category'
          - unless @promo_product.blank?
            = render 'shared/promo_product'
          - unless @faq.blank?
            = render 'shared/faq'


= render "shared/promo_post"

