// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
input[disabled="disabled"]{
  background-color: #F4F4F4;
  border: 0px solid #F4F4F4 !important;
}

.ckeditor > label {
  float: none;
  margin-bottom: 5px;
}

.batch_actions_selector {
  display: none;
}

.scopes {
  float: none !important;
}

.image-preview {
  max-width: 100%;
  padding-top: 20px;
}

.table-instruments {
  margin-top: 40px;
  margin-bottom: 30px; }
  .table-instruments table {
    padding: 0 20px;
    background-color: #25a382;
    color: white; }
    .table-instruments table h2 {
      margin: 0; }
    .table-instruments table th {
      color: white;
      line-height: 60px;
      vertical-align: bottom;
      text-align: center;
      font-weight: normal; }
      .table-instruments table th:first-child {
        vertical-align: middle;
        text-align: left; }
      .table-instruments table th a {
        display: inline-block;
        vertical-align: bottom;
        font-size: 18px;
        line-height: 20px;
        color: white;
        border-bottom: 1px dashed;
        margin-bottom: 15px; }
    .table-instruments table td {
      width: 90px;
      line-height: 49px;
      border-top: 1px solid #67bfa8;
      text-align: center;
      font-size: 18px;
      font-family: "circe_light"; }
      .table-instruments table td:first-child {
        width: 600px;
        text-align: left; }
      .table-instruments table td span {
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: white; }

.materials {
  margin-bottom: 40px;
  background-color: #e6e6e6;
  padding: 0 0;
  font-family: "circe_light"; }
  .materials table {
    width: 880px;
    border-spacing: 20px 0;
    line-height: 49px; }
    .materials table .hidden {
      display: none; }
    .materials table h2 {
      line-height: 60px;
      margin: 0; }
    .materials table th {
      line-height: 60px;
      font-weight: normal;
      text-align: right; }
      .materials table th:first-child {
        text-align: left; }
      .materials table th a {
        font-size: 16px;
        color: #737373;
        border-bottom: 1px dashed; }
        .materials table th a:hover {
          border-bottom-color: transparent; }
    .materials table td {
      padding: 10px 0;
      line-height: 30px;
      width: 50%;
      border-top: 1px solid #b0b0b0; }
