section
  .top-header-m-bg.light
  .second-page-header.bg-light
    .container
      .row
        .col-md-12
          h1 Каталог
          ul.breadcrumb
            li
              = link_to "Главная", root_path
            li.active Каталог

  .block2
    .container
      .header-for-light.clearfix
        h2 Категории
        = link_to "Все продукты", products_path, class: "see-all"
      .row
        - @categories.each do |category|
          .col-md-3.col-sm-6
            .banner-collection
              = link_to category do
              .banner-title
                span
                  = category.title
                = truncate category.description, length: 170 unless category.description.blank?
              = image_tag category.image.url, class: "img-responsive", alt:"#{category.title}"

