section
  .second-page-header.bg-img-dark
    .top-header-bg
    .container
      .row
        .col-md-12
          .product-title
            = @product.title
          ul.breadcrumb
            li
              = link_to "Главная", root_path
            li
              = link_to "Каталог", categories_path
            li
              = link_to @product.category.title, @product.category unless @product.category.blank?
            li.active
              = @product.title

section
  .home-block
    .container
      .row
        .col-md-9.col-sm-8
          .block-product-detail
            .row
              .col-xs-12.col-sm-12.col-md-6.col-lg-6
                .product-image
                  = image_tag @product.image.url, "data-zoom-image" => "#{@product.image.url}", alt: "#{@product.title}", id: "product-zoom"

                  - if @product.images.count > 0
                    #gal1
                      - @product.images.each do |image|
                        a data-image="#{image_path image.file.url}" data-lightbox="product" data-title="#{@product.title}" data-zoom-image="#{image_path image.file.url(:zoom)}" href="#{image_path image.file.url}"
                          img alt="#{@product.title}" src="#{image_path image.file.url(:thumb)}"

              .col-xs-12.col-sm-12.col-md-6.col-lg-6
                .product-detail-section
                  .header-for-light
                    .titelize
                      = @product.title
                  .product-information
                    .clearfix
                      label.pull-left Категория:
                      = @product.category.title unless @product.category.blank?
                      br

                    .clearfix
                      label.pull-left Артикул:
                      = @product.article

                    .clearfix
                      label.pull-left Наличие:
                      - if @product.published == true
                        =< "Есть"
                      - else
                        =< "Нет в наличии"

                    .clearfix
                      label.pull-left Описание:
                      p.description
                        = @product.description

                    .clearfix
                      label.pull-left Цена:
                      p.product-price
                        - unless @product.old_price.blank?
                          span
                            = price_format @product.old_price
                            =< "грн."
                          |&nbsp;
                        = price_format @product.price
                        =< "грн."

                    .product-icons
                      - if @product.published != false
                        .product-icon
                          - if current_user
                            = link_to add_in_cart_path(@product.id), method: :post, remote: true, class: "product-card-icon", title: "В корзину" do
                              i.ion-ios-cart-outline
                              =< " В корзину"
                          - else
                            a href="" class="product-card-icon" data-toggle="modal" data-target="#login_alt" title="В корзину"
                              i.ion-ios-cart-outline
                              =< " В корзину"

                      |&nbsp;
                      - if current_user
                        .product-icon
                          - if Favorite.find_by(:user => current_user, :product => @product).blank?
                            = link_to favorites_path(:product_id => @product.id), :method => "POST", remote: true, class: "product-wishlist", title: "В избранное"
                              i.ion-ios-heart-outline
                          - else
                            = link_to Favorite.find_by(:user => current_user, :product => @product), method: "DELETE", remote: true, class: "product-wishlist favorite", title: "Удалить из избранного"
                              i.ion-ios-heart-outline

          .box-border.block-form
            nav
              ul.nav.nav-pills.nav-justified.product-detail
                - unless @product.full_description.blank?
                  li.active
                    a data-toggle="tab" href="#description"  Описание

                - unless @product.details.blank?
                  li class="#{'active' if @product.full_description.blank?}"
                    a.disabled data-toggle="tab" href="#details"  Состав
                - unless @product.note.blank?
                  li
                    a.disabled data-toggle="tab" href="#note"  Примечание
            .tab-content
              - unless @product.full_description.blank?
                #description.tab-pane.active
                  br
                  hr
                  p
                    .article-body
                      = @product.full_description.try(:html_safe)

              - unless @product.details.blank?
                #details.tab-pane
                  br
                  hr
                  .product-information
                    .clearfix
                      .col-md-8.col-md-offset-2
                        table.table.table-condensed style="border-top: 0px solid #fff !important;"
                          - @product.details.each do |detail|
                            tbody style="border-top: 0px solid #fff !important;"
                              tr style="border-top: 0px solid #fff !important;"
                                td
                                  = detail.title
                                td
                                  = detail.value
                          br

              - unless @product.note.blank?
                #note.tab-pane
                  br
                  hr
                  p
                    .article-body
                      = @product.note.try(:html_safe)

        .col-md-3.col-sm-4
          = render 'shared/categories'

= render "shared/promo_post"
