.article-body
  overflow: hidden
  line-height: 15px !important
  p
    line-height: 25px !important
  h1
    line-height: 40px !important
  h2
    line-height: 25px !important
  h3
    line-height: 25px !important
  span
    line-height: 25px !important
  h5
    line-height: 25px !important
  a
    text-decoration: underline !important
    line-height: 25px !important
  img
    display: block
    margin-left: auto
    margin-right: auto
  ul
    line-height: 30px !important

.product-title
  width: 100%
  color: #f7f7f7
  margin: 0 0 10px
  font-family: 'Roboto',sans-serif
  float: left
  line-height: 40px
  font-weight: 200
  font-size: 36px
  margin-top: 20px
  margin-bottom: 10px

.post-title
  width: 100%
  margin: 0 0 10px
  font-family: 'Roboto',sans-serif
  float: left
  color: rgba(45, 45, 45, 0.7)
  line-height: 40px
  font-weight: 200
  font-size: 36px
  margin-top: 20px
  margin-bottom: 10px
