@font-face {
  font-family: 'Glyphicons Halflings';
  src: asset-url('glyphicons-halflings-regular.eot');
  src: asset-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  asset-url('glyphicons-halflings-regular.woff') format('woff'),
  asset-url('glyphicons-halflings-regular.ttf') format('truetype'),
  asset-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  src: asset-url('fontawesome-webfont.eot?v=4.2.0');
  src: asset-url('fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
  asset-url('fontawesome-webfont.woff?v=4.2.0') format('woff'),
  asset-url('fontawesome-webfont.ttf?v=4.2.0') format('truetype'),
  asset-url('fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: asset-url('opensans-regular-webfont.eot');
    src: asset-url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    asset-url('opensans-regular-webfont.woff') format('woff'),
    asset-url('opensans-regular-webfont.ttf') format('truetype'),
    asset-url('opensans-regular-webfont.svg#opensans-regular-webfont') format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: asset-url('robotocondensed-regular.eot');
    src: asset-url('robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
    asset-url('robotocondensed-regular.woff') format('woff'),
    asset-url('robotocondensed-regular.ttf') format('truetype'),
    asset-url('robotocondensed-regular.svg') format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Raleway';
    src: asset-url('Raleway.eot');
    src: asset-url('Raleway.eot?#iefix') format('embedded-opentype'),
    asset-url('Raleway.woff') format('woff'),
    asset-url('Raleway.ttf') format('truetype'),
    asset-url('Raleway.svg#Raleway') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'revicons';
    src: asset-url('revicons.eot');
    src: asset-url('revicons.eot?#iefix') format('embedded-opentype'),
    asset-url('revicons.woff') format('woff'),
    asset-url('revicons.ttf') format('truetype'),
    asset-url('revicons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face { font-family: "Ionicons"; src: asset-url("ionicons.eot?v=2.0.0"); src: asset-url("ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), asset-url("ionicons.ttf?v=2.0.0") format("truetype"), asset-url("ionicons.woff?v=2.0.0") format("woff"), asset-url("ionicons.svg?v=2.0.0#Ionicons") format("svg"); font-weight: normal; font-style: normal; }

@font-face {
  font-family: "Flaticon";
  src: asset-url("flaticon.eot");
  src: asset-url("flaticon.eot#iefix") format("embedded-opentype"),
  asset-url("flaticon.woff") format("woff"),
  asset-url("flaticon.ttf") format("truetype"),
  asset-url("flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;

font-style: normal;

}.flaticon-odnolassniki:before {
  content: "\e000";
}
.flaticon-vk:before {
  content: "\e001";
}

