.card_product_quantity
  position: relative
  .input-count
    position: relative
    z-index: 1
  .count-increase
    position: absolute
    top: 55px
    left: 103px
    z-index: 2
    cursor: pointer
    width: 16px
  .count-decrease
    position: absolute
    top: 72px
    left: 103px
    z-index: 2
    cursor: pointer
    width: 16px

@media (max-width: 1200px)
  .card_product_quantity
    .count-increase
      left: 88px
    .count-decrease
      left: 88px

@media (max-width: 980px)
  .card_product_quantity
    .count-increase
      left: 83px
    .count-decrease
      left: 83px

@media (max-width: 680px)
  .card_product_quantity
    .count-increase
      left: 183px
      top: 9px
    .count-decrease
      left: 183px
      top: 26px
