doctype html
/![if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"
/![if IE 7] <html class="no-js lt-ie9 lt-ie8"
/![if IE 8] <html class="no-js lt-ie9"
/! [if gt IE 8]><!
html.no-js lang="en"
  /! <![endif]
  head
    meta charset="utf-8"
    /![if IE]
    meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"

    = display_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
    /![if lt IE 9]
      script src="http://html5shim.googlecode.com/svn/trunk/html5.js"
      script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"
    /![if IE 7]
      link rel="stylesheet" href="css/font-awesome-ie7.css"
    /![if IE 8] script src="/assets/application/less-1.3.3.js"
    /! [if gt IE 8]
      = javascript_include_tag "application/less.js"
    = render "layouts/favicons"

  body
    header
      .header.light
        .header-top-row style="background-color:#000 !important;"
          .container
            .row
              .col-md-6
                .top-welcome.hidden-xs.hidden-sm
                  p style="font-family: Arial; font-size:14px; color:#fff"
                    i.fa.fa-phone
                    |&nbsp; +38 (044) 565-15-37 &nbsp;
                    i.fa.fa-phone
                    | &nbsp; +38 (063) 922 74 73 &nbsp;
                    i.fa.fa-phone
                    | &nbsp;
                    a href="" data-toggle="modal" data-target="#phonecall_modal" style="color:#fff"
                      | Обратный звонок
                    | &nbsp;
                    | &nbsp;
                    | &nbsp;
                    | &nbsp;
                    a href="https://vk.com/p_pretty_people" target="_blank"
                      i.flaticon-vk target="_blank"
                    | &nbsp;
                    | &nbsp;
                    a href="https://www.facebook.com/groups/p.prettypeople/" target="_blank"
                      i.fa.fa-facebook
                    | &nbsp;
                    | &nbsp;
                    a href="https://instagram.com/P.P_Pretty_people" target="_blank"
                      i.fa.fa-instagram

              .col-md-6
                - if current_user
                  .pull-right
                    #account-menu.pull-right
                      a.account-menu-title href="" style="width:150px; color:#fff"
                        i.fa.fa-user
                        =< truncate current_user.name, length: 19 unless current_user.name.blank?
                        | &nbsp;
                        i.fa.fa-angle-down
                      ul.list-unstyled.account-menu-item
                        li
                          = link_to edit_user_path(current_user)
                            i.fa.fa-cogs
                            | &nbsp; Аккаунт
                        li
                          = link_to orders_path
                            i.fa.fa-check
                            | &nbsp; Заказы
                        li
                          = link_to favorites_user_path(current_user)
                            i.fa.fa-heart
                            | &nbsp; Избранное
                        li
                          = link_to cart_path
                            i.fa.fa-shopping-cart
                            | &nbsp; Корзина
                        li
                          = link_to "<i class='fa fa-sign-out'></i> &nbsp; Выйти".html_safe, destroy_user_session_path, :method => :delete
                - else
                  .pull-right
                    p.login
                      i.fa.fa-sign-in
                      a href="" data-toggle="modal" data-target="#login" style="color:#fff"
                        |Вход
                      |&nbsp;&nbsp;&nbsp;&nbsp;
                      i.fa.fa-pencil-square
                      a href="" data-toggle="modal" data-target="#registration" style="color:#fff"
                        |Регистрация
                      |&nbsp;&nbsp;&nbsp;&nbsp;

        .header-bg
          #header-main-fixed.header-main
            .header-main-block1.with-menu
              .container
                #container-fixed
                  .row
                    .col-md-12
                      nav.navbar.yamm.navbar-main role="navigation"
                        .navbar-header
                          button.navbar-toggle data-target="#navbar-collapse-1" data-toggle="collapse" type="button"
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                          = link_to root_path, class: "navbar-brand" do
                            = image_tag "prettypeople.png", alt: "pretty people"

                        - if current_user
                          = render partial: "cart/cart_filling", locals: {current_order: current_order}

                        #navbar-collapse-1.navbar-collapse.collapse
                          ul.nav.navbar-nav.navbar-right
                            li
                              = link_to "Главная", root_path
                            - if Content.find_by(title: "about").text.present?
                              li
                                = link_to "О нас", about_path
                            li
                              = link_to "Каталог", categories_path
                            - if Post.published.all.count > 0
                              li
                                = link_to "Новости", posts_path
                            - if Message.published.all.count > 0
                              li
                                = link_to "Отзывы", feedbacks_path
                            li
                              = link_to "Контакты", contacts_path
              = render "shared/flash_messages"


    = yield


    footer#footer-block.light
      .footer-information
        .container
          .row
            .col-md-3.col-sm-6
              .inner-block.clearfix
                .header-footer
                  .titelize Instagram
                ul.list-unstyled.flickr
                  #instafeed

            .col-md-3.col-sm-6
              .inner-block
                .header-footer
                  .titelize Меню
                ul.footer-categories.list-unstyled
                  li
                    = link_to "Главная", root_path
                  - if Content.find_by(title: "about").text.present?
                    li
                      = link_to "О нас", about_path
                  li
                    = link_to "Каталог", products_path
                  - if Post.published.all.count > 0
                    li
                      = link_to "Новости", posts_path
                  - if Message.published.all.count > 0
                    li
                      = link_to "Отзывы", feedbacks_path
                  li
                    = link_to "Контакты", contacts_path
                  li
                    a href="" data-toggle="modal" data-target="#phonecall_modal"
                      | Обратный звонок

              - if current_user
                .inner-block
                  .header-footer
                    .titelize Мой аккаунт
                  ul.footer-categories.list-unstyled
                    li
                      = link_to "Аккаунт", edit_user_path(current_user)
                    li
                      = link_to "Заказы", orders_path
                    li
                      = link_to "Избранное", favorites_user_path(current_user)
                    li
                      = link_to "Корзина",cart_path

            .col-md-3.col-sm-6
              .inner-block
                .header-footer
                  .titelize Топ продаж
                - Product.limit(3).each do |product|
                  .product-small-list
                    .product-small-list-text-img
                      = link_to product do
                        = image_tag product.image.url(:home), class: "img-responsive"

                    .product-small-list-text
                      = link_to product, class: "product-name" do
                        = product.title
                      p.product-price
                        - unless product.old_price.blank?
                          span
                            = price_format product.old_price
                            =< "грн."
                        = price_format product.price
                        =< "грн."

            .col-md-3.col-sm-6
              .inner-block
                .header-footer
                  .titelize Контакты
                ul.footer-categories.list-unstyled
                  li style="color:#000"
                    i.fa.fa-map-marker.fa-lg
                    | &nbsp; Киев, ул. Анри Барбюса, 22/26.
                  li style="color:#000"
                    i.fa.fa-phone
                    | &nbsp; +38 (044) 565-15-37
                  li style="color:#000"
                    i.fa.fa-phone
                    | &nbsp; +38 (063) 922 74 73
                  li
                    = link_to contacts_path do
                      i.fa.fa-thumb-tack
                      =< "На карте"
              .inner-block
                = render partial: "messages/form", locals: {message: Message.new}
                = render partial: "messages/thanks"
      .footer-copy
        .container
          .row
            .col-md-6
              .socials
                a href="https://vk.com/p_pretty_people" target="_blank"
                  i.flaticon-vk target="_blank"
                a href="https://www.facebook.com/groups/p.prettypeople/" target="_blank"
                  i.fa.fa-facebook
                a href="https://instagram.com/P.P_Pretty_people" target="_blank"
                  i.fa.fa-instagram

    - if current_user.blank?
      = render "shared/registration"
      = render "shared/login"
      = render "shared/login_alt"
      = render "shared/new_password"
      = render "shared/sendmail"
      = render "shared/phonecall"
    - if params[:order]
      = render 'shared/order_status'
    - if params[:payment_status]
      = render 'shared/payment_status'

    javascript:
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65160513-1', 'auto');
      ga('send', 'pageview');

    javascript:

        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter31673516 = new Ya.Metrika({
                        id:31673516,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");

    noscript
      div style="display:none"
        img src="https://mc.yandex.ru/watch/31673516" style="position:absolute; left:-9999px;" alt=""



